.ultop{
    background-color: black;
    width: 1511px;
    border: 3px rgb(201, 14, 14) solid;
    margin-left: -7px;
    margin-top: -7px;
    height: 100px;
   
}
body{
    background-color: rgb(216, 208, 205);
}
.logo{
    margin-top: -1px;
}
.navli{
    list-style: none;
    margin-top: -60px;
    margin-left: 1100px;
    color: rgb(201, 14, 14);
    background-color: white;
    width: 67px;
    
    
}
.navlibtn{
    background-color: rgb(201, 14, 14);   
}
a{
    text-decoration: none;
    color: white;
}
.navlibtn2{
    background-color: rgb(201, 14, 14);   
}
.navli2{
    list-style: none;
    margin-top: -22px;
    margin-left: 1200px;
    color: rgb(141, 255, 11);
    background-color: white;
    width: 229px;

}
button:hover{
    background-color: grey;
}
.div1{
    margin-left: -7px;   
}
.h1{
margin-left: 700px;
margin-top: -10px;
margin-bottom: -10px;
    
}
.bgul{
    margin-left: 550px;
    margin-top: -850px;
    color: white;
}
.ul1{
    margin-top: -790px;
     margin-left: -7px;
}
.bg{
    margin-left: -7px;
}
